.registerForm {
  margin: 30px;
  width: 900px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
}

.loginForm {
  margin: 30px;
  width: 700px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
}
