.topBar {
  display: flex;
  height: inherit;
  align-self: center;
  align-items: center;
}

.topContainer {
  height: 80px;
  display: flex;
  align-content: center;
}

.topLogo {
  height: 120px;
  margin-top: 0;
  padding-top: 0;
}
