.topBar {
  display: flex;
  height: inherit;
  align-self: center;
  align-items: center;
  overflow: hidden;

}

.topContainer {
  // height: 80px;
  // display: flex;
  // align-content: center;
  // width: 90%;
  // background-color: lightgreen;
  // top: 0%;
  // position: fixed;
  // align-self: 
  // border-top-left-radius: 30px;
  // border-top-right-radius: 30px;
}

.topLogo {
  height: 120px;
  margin-top: 0;
  padding-top: 0;
}

.sticky {
  height: 80px;
  display: flex;
  align-content: center;
  position: fixed
}
