.App {
  background-color: white;
  padding: 30px;
  width: 90%;
  // max-width: 90%;
  border-radius: 30px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;

}

.MainSection {
  background-color: #dedede;
  border-radius: 30px;
  width: 100%;
  display: flex;
}


